@charset "IBM866";
/* */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: 'linux_biolinum_oregular'; src: url("../fonts/linbiolinum_r.eot"); src: url("../fonts/linbiolinum_r.eot?#iefix") format("embedded-opentype"), url("../fonts/linbiolinum_r.woff") format("woff"), url("../fonts/linbiolinum_r.ttf") format("truetype"), url("../fonts/linbiolinum_r.svg#linux_biolinum_oregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'CharterITC-Bold'; src: url("../fonts/CharterITC-Bold.eot"); src: url("../fonts/CharterITC-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CharterITC-Bold.woff") format("woff"), url("../fonts/CharterITC-Bold.ttf") format("truetype"), url("../fonts/CharterITC-Bold.svg#CharterITC-Bold") format("svg"); }

@font-face { font-family: 'icomoon'; src: url("../fonts/icomoon.eot?-46ta5b"); src: url("../fonts/icomoon.eot?#iefix-46ta5b") format("embedded-opentype"), url("../fonts/icomoon.woff?-46ta5b") format("woff"), url("../fonts/icomoon.ttf?-46ta5b") format("truetype"), url("../fonts/icomoon.svg?-46ta5b#icomoon") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-check:before { content: "\f00c"; }

.icon-times:before { content: "\f00d"; }

.icon-plus:before { content: "\f067"; }

.icon-minus:before { content: "\f068"; }

.icon-twitter:before { content: "\f099"; }

.icon-facebook:before { content: "\f09a"; }

.icon-google-plus:before { content: "\f0d5"; }

.icon-linkedin:before { content: "\f0e1"; }

.icon-angle-double-left:before { content: "\f100"; }

.icon-angle-double-right:before { content: "\f101"; }

.icon-angle-double-up:before { content: "\f102"; }

.icon-angle-double-down:before { content: "\f103"; }

.icon-angle-left:before { content: "\f104"; }

.icon-angle-right:before { content: "\f105"; }

.icon-angle-up:before { content: "\f106"; }

.icon-angle-down:before { content: "\f107"; }

.icon-euro:before { content: "\f153"; }

.icon-gbp:before { content: "\f154"; }

.icon-dollar:before { content: "\f155"; }

.icon-rupee:before { content: "\f156"; }

.icon-cny:before { content: "\f157"; }

.icon-ruble:before { content: "\f158"; }

.icon-won:before { content: "\f159"; }

.icon-bitcoin:before { content: "\f15a"; }

.icon-youtube:before { content: "\f167"; }

.icon-instagram:before { content: "\f16d"; }

.icon-vk:before { content: "\f189"; }

.icon-about:before { content: "\e600"; }

.icon-article:before { content: "\e601"; }

.icon-cabinet:before { content: "\e602"; }

.icon-event:before { content: "\e603"; }

.icon-house:before { content: "\e604"; }

.icon-spinner:before { content: "\e605"; }

.icon-spinner2:before { content: "\e606"; }

.icon-search:before { content: "\e607"; }

body { font-family: "linux_biolinum_oregular", Arial, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a { color: white; }
a:hover { color: #c38437; text-decoration: none; }

input[type="text"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="password"], select, textarea { background-color: white; border-radius: none; border-width: 1px; border-color: gainsboro; border-style: solid; height: 29px; width: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 3px 5px; line-height: 22px; display: inline-block; }

input[type="submit"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: url('../img/icons-sb943918653.png') 0 -477px no-repeat; width: 45px; height: 29px; display: inline-block; background-color: #78232e; font: 0/0 arial; vertical-align: top; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.layout { height: 100%; }

html, body { height: 100%; }

.page-wrap { min-height: 100%; /* equal to footer height */ margin-bottom: -30px; }
.page-wrap:after { content: ""; display: block; }

.footer, .page-wrap:after { height: 30px; overflow: hidden; }

.wrapper { max-width: 1920px; margin: auto; }

body { min-width: 960px; background: white; }

header { background: #72202a url(../img/icons/bg_header.png) 0 0 repeat; }
header .super-top { overflow: hidden; }

.logo { float: left; padding: 15px 20px; }
@media only screen and (max-width: 1000px) { .logo { padding: 15px 10px; } }
.logo a { background: url('../img/icons-sb943918653.png') 0 0 no-repeat; width: 239px; height: 75px; display: block; }

.cabinet { float: right; padding: 15px; font-family: "linux_biolinum_oregular"; font-size: 16px; }
@media only screen and (max-width: 1000px) { .cabinet { padding: 15px 10px; } }
.cabinet a { position: relative; display: block; padding: 3px 5px 10px; padding-top: 35px; width: 80px; text-align: center; z-index: 1; text-decoration: none; }
.cabinet a:hover { color: white; }
.cabinet a:hover:after { content: ""; display: block; width: 100%; height: 100%; position: absolute; z-index: -1; left: 0; top: 0; text-decoration: none; border-bottom: none; background-color: #621a26; color: white; }
.cabinet a:before { font-family: "icomoon"; display: block; font-size: 1.6em; top: 10px; left: 50%; margin-left: -10px; position: absolute; }

.menu-top { overflow: hidden; text-align: center; font: 0/0 Arial; }
.menu-top li { display: inline-block; max-width: 250px; width: 25%; }
.menu-top li a { font-size: 18px; font-family: "CharterITC-Bold"; text-transform: uppercase; font-weight: 400; text-decoration: none; vertical-align: middle; padding: 35px 5px 35px 50px; position: relative; display: block; text-align: left; height: 2.2em; line-height: 1; vertical-align: top; }
@media only screen and (max-width: 1000px) { .menu-top li a { font-size: 16px; } }
@media only screen and (max-width: 950px) { .menu-top li a { padding-left: 5px; max-width: 120px; }
  .menu-top li a:before { display: none; } }
.menu-top li a span { display: table-cell; vertical-align: middle; }
.menu-top li a:hover { text-decoration: none; border-bottom: none; background-color: #621a26; color: white; }
.menu-top li a:before { display: inline-block; vertical-align: middle; position: absolute; left: 5px; top: 50%; margin-top: -20px; font-family: "icomoon"; font-size: 40px; }
.menu-top li.active a { color: #c38437; }

nav ul { display: table; width: 100%; table-layout: fixed; height: 150px; }
nav ul li { display: table-cell; vertical-align: bottom; background-position: center top; background-repeat: no-repeat; position: relative; }
@media only screen and (min-width: 1600px) { nav ul li { -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; } }
nav ul li.zivopis { background-image: url(../img/bg_menu/zivopis.jpg); }
nav ul li.serebro { background-image: url(../img/bg_menu/serebro.jpg); }
nav ul li.faberze { background-image: url(../img/bg_menu/faberze.jpg); }
nav ul li.bronza { background-image: url(../img/bg_menu/bronza.jpg); }
nav ul li.steklo { background-image: url(../img/bg_menu/steklo.jpg); }
nav ul li.farfor { background-image: url(../img/bg_menu/farfor.jpg); }
nav ul li.yuvelir { background-image: url(../img/bg_menu/yuvelir.jpg); }
nav ul li.ordena { background-image: url(../img/bg_menu/ordena.jpg); }
nav ul li.kult { background-image: url(../img/bg_menu/kult.jpg); }
nav ul li.raznoe { background-image: url(../img/bg_menu/raznoe.jpg); }
nav ul li a { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: white; font-family: "linux_biolinum_oregular"; font-size: 16px; }
nav ul li a:before { content: ""; display: block; height: 3em; position: absolute; bottom: 0; background-color: rgba(0, 0, 0, 0.3); width: 100%; z-index: 1; }
nav ul li a:hover { border-bottom: none; }
nav ul li a span { position: absolute; bottom: 0; color: white; display: block; padding: 3px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align: bottom; z-index: 2; }
nav ul li a:hover:before { background-color: rgba(114, 32, 42, 0.8); }
nav ul li.active a:before { background: #72202a; }
nav ul li.active a:after { content: ""; position: absolute; top: 100%; display: block; left: 50%; margin-left: -10px; width: 0px; height: 0px; border-style: solid; border-width: 12px 10px 0 10px; border-color: #72202a transparent transparent transparent; }

.back { display: inline-block; width: 180px; padding: 3px 10px; background-color: #72202a; color: white; position: relative; top: -2em; height: 30px; text-decoration: none; line-height: 26px; font-family: "CharterITC-Bold"; vertical-align: middle; }
.back:before { content: "‹"; font-size: 2.4em; line-height: 16px; display: inline-block; padding-right: 5px; position: relative; top: 3px; }
.back:after { content: ""; position: absolute; top: -12px; display: block; left: 50%; margin-left: -10px; width: 0px; height: 0px; border-style: solid; border-width: 0 10px 12px 10px; border-color: transparent transparent #72202a transparent; z-index: 1; }

.block-bg { background: #fafaf7 url(../img/icons/bg_pager.png) 0 0 repeat; border-bottom: 1px solid #ededed; border-top: 1px solid #ededed; }

.block-search .form-search { width: 70%; margin: auto; vertical-align: top; position: relative; }
.block-search .form-search input[type="search"] { width: 100%; display: block; padding-right: 45px; }
.block-search .form-search input[type="submit"] { position: absolute; right: 0; top: 0; }

.main .wrapper { max-width: 1920px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: auto; padding: 2em 8%; color: #646464; font-size: 16px; line-height: 1.2; }
.main .wrapper ul, .main .wrapper ol { margin: 1em auto; }
.main .wrapper b, .main .wrapper strong { font-weight: 700; }
.main .wrapper i, .main .wrapper em { font-style: italic; }
.main .wrapper ul { list-style-type: disc; list-style-position: outside; margin-left: 2.3em; }
.main .wrapper ol { list-style-type: decimal; list-style-position: outside; margin-left: 2.3em; }
.main .wrapper ul ul, .main .wrapper ol ul { list-style-type: circle; list-style-position: outside; margin: 0 auto 0 2.3em; }
.main .wrapper ol ol, .main .wrapper ul ol { list-style-type: decimal; list-style-position: outside; margin: 0 auto 0 2.3em; }
.main .wrapper blockquote { width: 80%; margin: 20px auto; display: block; }
.main h2 { color: #ab7f31; font-family: "linux_biolinum_oregular"; font-size: 18px; border-bottom: 1px solid #cccccc; margin-bottom: 1em; }
.main p { color: #646464; font-size: 16px; padding-bottom: 1em; }
.main p + h2 { padding-top: 1em; }
.main li { padding-bottom: 0.4em; }
.main .center { text-align: center; }
.main img.logo_intext { padding: 2px 0 20px; display: inline-block; }
.main article { position: relative; margin-bottom: 2em; *zoom: 1; }
.main article:after { content: " "; display: table; clear: both; }
.main article .content { float: left; margin-right: 200px; border-right: 1px solid #cccccc; padding-right: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.main article .content .info { overflow: hidden; }
.main article .content .info h2 { color: #ab7f31; font-family: "linux_biolinum_oregular"; }
.main article .content .info h2:before { display: none; }
.main article .content .info h4 { color: #ab7f31; font-family: "linux_biolinum_oregular"; font-weight: 400; }
.main article .content .info p a { color: #77232d; }
.main article .content h2 { border-bottom: none; vertical-align: middle; color: #77232d; font-family: "CharterITC-Bold"; font-size: 24px; font-weight: 400; text-transform: uppercase; }
.main article .content h2:before { vertical-align: middle; content: ""; display: inline-block; background: url('../img/icons-sb943918653.png') 0 -733px no-repeat; width: 25px; height: 29px; padding-right: 5px; margin-top: -3px; }
.main article .content h3 { vertical-align: middle; color: #77232d; font-family: "linux_biolinum_oregular"; font-size: 24px; line-height: 1.1; text-transform: uppercase; padding-bottom: 0.7em; font-weight: 400; }
.main article .content h3 .there { color: #636363; font-size: 16px; text-transform: none; }
.main article .content img.img-main { min-width: 100%; width: 100%; height: auto; margin-bottom: 1em; }
.main article .content .img-small { float: left; margin: 0 1.5em 1.5em 0; }
.main article aside { position: absolute; right: 0; width: 160px; padding: 0 20px; color: #ab7f31; font-family: "Myriad Pro"; font-size: 16px; }
.main article aside > div { padding-bottom: 1em; }
.main article aside a { color: #77232d; }
.main article aside .value { padding-top: 0.2em; color: #636363; }

.catalog ul.catalog-list { list-style: none; margin: 0; margin-left: -20px; margin-right: -20px; }
.catalog ul.catalog-list li { display: inline-block; vertical-align: top; width: 50%; margin: -0.135em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 20px 30px; }
.catalog ul.catalog-list li img { float: left; margin: 0 1em 1em 0; }
.catalog ul.catalog-list li .info { overflow: hidden; }
.catalog ul.catalog-list li .info a { color: #77232d; }
.catalog ul.catalog-list li .info a:hover { color: #ac7f31; }
.catalog ul.catalog-list li .info h2 { color: #77232d; display: inline; border-bottom: none; margin-bottom: 0; }
.catalog ul.catalog-list li .info .sku { color: #636363; display: inline; padding-left: 6px; *zoom: 1; }
.catalog ul.catalog-list li .info .sku:after { content: " "; display: table; clear: both; }
.catalog ul.catalog-list li .info p { clear: both; }

.main ul.pager { text-align: center; margin: 0; padding-top: 5px; }
.main ul.pager li { display: inline-block; font-size: 16px; line-height: 24px; vertical-align: middle; width: 0.7em; padding: 0; margin-bottom: 0; }
.main ul.pager li.pager-back, .main ul.pager li.pager-next { font-size: 3em; line-height: 24px; width: 0.3em; position: relative; top: -2px; }
.main ul.pager li a { color: #77232d; text-decoration: none; display: block; padding: 3px; vertical-align: middle; }

.footer { background: #72202a url(../img/icons/bg_footer.png) 0 0 repeat; padding: 0 10px; }
.footer p { display: inline-block; line-height: 30px; margin-right: 20px; }
.footer p.copyright { color: #130406; font-family: "LinBiolinumO"; font-size: 16px; }
