// Normally mainpage styles

// VARS

header
	background: #72202a url(../img/icons/bg_header.png) 0 0 repeat 
nav
	ul
		display: table
		width: 100%
		table-layout: fixed
		li
			display: table-cell
			height: 150px
			vertical-align: bottom
			background-position: center top
			background-repeat: no-repeat
			&.zivopis
				background-image: url(../img/bg_menu/zivopis.jpg)
			&.serebro
				background-image: url(../img/bg_menu/serebro.jpg)
			&.faberze
				background-image: url(../img/bg_menu/faberze.jpg)
			&.bronza
				background-image: url(../img/bg_menu/bronza.jpg)
			&.steklo
				background-image: url(../img/bg_menu/steklo.jpg)
			&.farfor
				background-image: url(../img/bg_menu/farfor.jpg)
			&.yuvelir
				background-image: url(../img/bg_menu/yuvelir.jpg)
			&.ordena
				background-image: url(../img/bg_menu/ordena.jpg)
			&.kult
				background-image: url(../img/bg_menu/kult.jpg)
			&.raznoe
				background-image: url(../img/bg_menu/raznoe.jpg)
			a
				width: 100%
				height: 100%
				vertical-align: bottom
				
				span

					background-color: rgba(0,0,0, .3)
					color: #fff
					display: block
					height: 2.8em
					padding: 3px
				&:hover span
					background-color: rgba(#72202a, .8)
				
				
			



.footer
	background: #72202a url(../img/icons/bg_footer.png) 0 0 repeat 
	p
		display: inline-block
		line-height: 30px
		margin-right: 20px
		&.copyright
			color: #130406
			font-family: "LinBiolinumO"
			font-size: 16px
